# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignorar configuraciones del IDE (IntelliJ / Android Studio)
.idea/
*.iml

# Ignorar archivos de compilación y salida
target/
out/

# Ignorar archivos temporales del sistema
.DS_Store
Thumbs.db
